Host github.com
    IdentityFile ~/.ssh/github.id_rsa

Host git.overleaf.com
    User julian-goeltz@gmx.de

Host gitviz.kip.uni-heidelberg.de
    User git
    IdentityFile ~/.ssh/gitviz.id_rsa

# gerrit.bioai.eu port 29418
# brainscales-r for gerrit has port 9443
Host brainscales-r.kip.uni-heidelberg.de:9443
    User goeltz
    IdentityFile ~/.ssh/gerrit_ecdsa

Host brainscales-r.kip.uni-heidelberg.de
    User goeltz
    IdentityFile ~/.ssh/gerrit_ecdsa

Host gerrit.bioai.eu
    Port 29418
    User goeltz
    HostName brainscales-r.kip.uni-heidelberg.de
    IdentityFile ~/.ssh/gerrit_ecdsa

Host ssh.strato.de
    User www.julian-goeltz.de
    IdentityFile ~/.ssh/strato_rsa

Host nemo
    Hostname login2.nemo.uni-freiburg.de
    User hd_ta400
    IdentityFile ~/.ssh/nemonew_rsa

#port 11022
Host hel
    Hostname brainscales-r.kip.uni-heidelberg.de
    Port 11022
    User jgoeltz
    IdentityFile ~/.ssh/hel_rsa
    ForwardX11 yes
    ForwardX11Trusted no

Host lxhalle
    User goeltz
    HostName lxhalle.in.tum.de
    IdentityFile ~/.ssh/tum_rsa
    ForwardX11 yes
    ForwardX11Trusted no
    IdentitiesOnly yes

Host cremers
    User goeltz
    # HostName atcremers11.in.tum.de
    HostName atcremers17.in.tum.de
    # HostName atcremers19.in.tum.de
    # HostName atcremers21.in.tum.de
    # HostName atcremers22.in.tum.de
    Port 58022
    IdentityFile ~/.ssh/tum_rsa
    ForwardX11 yes
    ForwardX11Trusted no
    IdentitiesOnly yes

Host juwels
    User goeltz1
    HostName juwels03.fz-juelich.de
    IdentityFile ~/.ssh/juwels_rsa
    ForwardX11 yes
    ForwardAgent yes

Host judac
    User goeltz1
    HostName judac.fz-juelich.de
    IdentityFile ~/.ssh/tmp_judac
    ForwardX11 yes
    ForwardAgent yes

Host elaCSCS
    HostName ela.cscs.ch
    IdentityFile ~/.ssh/daint_rsa
    User bp000362
    ForwardAgent yes
    ForwardX11 yes

Host daintCSCS
    HostName daint103.cscs.ch
    IdentityFile ~/.ssh/daint_rsa
    ProxyJump elaCSCS
    User bp000362
    ForwardAgent yes
    ForwardX11 yes
