[Unit]
Description=Runs pscircle to continuously update desktop wallpaper 

[Service]
Environment=DISPLAY=:0
ExecStart=/bin/bash -c "while true; do pscircle --background-color=002b36FF --tree-font-color=839496FF --link-color-min=83949644 --link-color-max=83949688 --dot-color-min=859900FF --dot-color-max=cb4b16FF --root-pid=1 --collapse-threads=true --max-children=35 --tree-sector-angle=3.1415 --tree-rotate=true --tree-rotation-angle=1.5708 --tree-center=-1580:0 --cpulist-center=300:0 --memlist-center=800:0 --output=/home/julgoe/.pscircle.png && feh --bg-scale ~/.pscircle.png; sleep 5; done"

[Install]
WantedBy=default.target
